@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff") format("woff"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff"), url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff"), url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff"), url("../fonts/cuprumitalic.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: black;
	background: #ffffff;
}

a {
	text-decoration: none;
	font-family: "Cuprum", Arial, sans-serif;
}

.main-header-top {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #293449;
}

.main-header-top a {
	font-family: "Cuprum", Arial, sans-serif;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
}

.logo {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: 300;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
}

.main-header-top input {
	color: #ffffff;
	background-color: #293449;
	border: none;
}

.main-checkout {
	background-color: #63a63e;
}

.logo:hover {
	background-color: #ca2c37;
}

.logo:focus {
	background-color: #ba2732;
}

input::placeholder {
	font-family: "Cuprum", Arial, sans-serif;
	color: #ffffff;
}

.main-bookmarks:hover,
.main-cart:hover {
	background-color: #212a3a;
}

.main-bookmarks:focus,
.main-cart:focus {
	background-color: #161d29;
	color: #8b8e94;
}

.main-header-top input:hover {
	background-color: #161d29;
}

.main-header-top input:focus {
	background-color: #ffffff;
}

.main-checkout:hover {
	background-color: #5fbb2d;
}

.main-checkout:focus {
	background-color: #518534;
	color: #8b8e94;
}

.main-info h1 {
	font-family: "Cuprum", Arial, sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	background-color: #f3f7f8;
}

.main-phone {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 600;
	font-size: 21px;
	line-height: 21px;
	color: #e9292a;
	background-color: #f3f7f8;
	border: 4px solid #ffffff;
}

.main-address {
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	background-color: #f3f7f8;
}

.login-link,
.check-in {
	font-size: 21px;
	line-height: 21px;
	font-weight: 500;
	color: #000000;
	background-color: #ffffff;
}

.login-link:hover,
.check-in:hover {
	color: #ee3643;
}

.login-link:focus,
.check-in:focus {
	color: #c5c5c5;
}

.user-personal-area {
	font-size: 21px;
	line-height: 21px;
	font-weight: 500;
	color: black;
	background-color: #ffffff;
}

.user-personal-area:hover {
	???
}

.user-personal-area:focus {
	color: #b2b2b2;
	background-color: #ffffff;
}

.main-user-orders,
.main-user-profile {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #32425c;
	background-color: #f1f5f7;
	text-decoration: underline;
}

.main-user-orders:hover,
.main-user-profile:hover {
	color: #ee4d59;
}

.main-user-orders:focus,
.main-user-profile:focus {
	color: #b2b2b2;
}

.navigation-site {
	list-style: none;
	background-color: #32425c;
}

.navigation-site li a {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
}

.navigation-site li a:hover {
	background-color: #293449;
}

.navigation-site li a:focus {
	background-color: #1d2739;
	color: #868c95;
}

.shop-features h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
}

.shop-features a {
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	color: #ffffff;
}

.shop-materials {
	background-color: #ffbf47;
}

.shop-tool {
	background-color: #3bbce3;
}

.shop-tech {
	background-color: #dc91d8;
}

.slyder-drill {
	background-image: url(../img/layer-drill.jpg);
	background-size: 622px 267px;
	background-repeat: no-repeat;
}

.slyder-drill h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
}

.slyder-drill p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 200;
	color: #ffffff;
}

.slyder-puncher {
	background-image: url(../img/layer-puncher.jpg);
	background-size: 620px 266px;
	background-repeat: no-repeat;
}

.slyder-puncher h3 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
}

.slyder-puncher p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 200;
	color: #ffffff;
}

.index-btn {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	text-transform: uppercase;
}

.index-btn:hover {
	background-color: #ca2c37;
}

.index-btn:focus {
	background-color: #ba2732;
}

.shop-sale {
	background-color: #8ed78f;
}

.shop-delivery {
	background-color: #ffc047;
}

.shop-features-btn {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
}

.shop-features-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.shop-features-btn:focus {
	background-color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs ul {
	list-style: none;
}

.breadcrumbs-item a {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

.sidebar-filtr {
	background-color: #f7f3ec;
}

.sidebar span {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

fieldset {
	border: none;
}

.sidebar legend {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 600;
	color: #000000;
	text-transform: uppercase;
}

.filtr-price {
	background-color: #f7f3ec;
}

.filtr-price-control {
	background-color: #f7f3ec;
}

.sidebar-producers label {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

.sidebar-supply-power label {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

.sidebar-supply-power:nth-last-child(1) {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #000000;
}

.sorting-bar {
	background-color: #f7f3ec;
}

.sorting-bar span {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

.sorting-bar ul {
	list-style: none;
}

.sort-option a {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	color: #bcbcbc;
	border-bottom: 1px dotted #ee3643;
	text-transform: uppercase;
}

.sort-option a:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort-option a:focus {
	color: #ee3643;
	border-bottom: none;
}

.page-caption h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	color: #32425c;
	text-transform: uppercase;
}

.popular-goods-top {
	background-color: #f9f5f0;
}

.popular-goods-top h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	color: #32425c;
	text-transform: uppercase;
}

.goods-item {
	border: 1px solid #e4e4e4;
}

.goods-item h3 {
	font-family: "PTSans", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: black;
}

.old-price {
	font-family: "PTSans", Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
}

.price {
	font-family: "PTSans", Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
}

.btn-popular-item-buy {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #63a63e;
	text-transform: uppercase;
}

.btn-popular-item-bookmarks {
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #32425c;
	background-color: #ffffff;
	text-transform: uppercase;
	border: 1px solid #63a63e;
}

.btn-popular-item-buy:hover {
	background-color: #5fbb2d;
}

.btn-popular-item-buy:focus {
	background-color: #518534;
}

.btn-popular-item-bookmarks:hover {
	border-color: #32425c;
}

.btn-popular-item-bookmarks:focus {
	border-color: #c1c6ce;
	color: #c5cad1;
}

.page-catalog+ul {
	list-style: none;
}

.pagination a {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	background-color: #ffffff;
	text-transform: uppercase;
	border: 1px solid #e5e5e5;
}

.pagination a:hover {
	border: 1px solid #bdc6ca;
}

.pagination a:focus {
	border: 1px solid #ee3643;
}

article h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
}

article p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.popular-producers-top {
	background-color: #f9f5f0;
}

.popular-producers-top h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.popular-producers-list {
	list-style: none;
}

.popular-producers-item {
	border: 1px solid #e4e4e4;
}

.popular-producers-item:hover {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, .5);
}

.popular-producers-item:focus {
	box-shadow: ???
}

.services {
	background-color: #f5f8fa;
}

.services h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	color: black;
	text-transform: uppercase;
}

.services p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: black;
}

.services-features-list {
	list-style: none;
}

.services-features-item {
	font-weight: 600;
	font-size: 13px;
	line-height: 24px;
	color: #ffffff;
	background-color: #32425c;
}

.services-features-item:hover {
	background-color: #293449;
}

.services-features-item:active {
	background-color: #ffffff;
	color: #32425c;
}

.services-delivery {
	background-color: #f4f8f9;
	background-image: url("../img/layer-delivery.png");
	background-repeat: no-repeat;
}

.services-delivery h3 {
	font-weight: 500;
	font-size: 36px;
	line-height: 36px;
	color: #32425c;
	text-transform: uppercase;
}

.info-company h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 30px;
	color: black;
	background-color: #ffffff;
}

.info p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: black;
	background-color: #ffffff;
}

.company-trans-list {
	list-style: none;
}

.company-trans-item {
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: black;
	background-color: #ffffff;
}

.info-contacts h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 30px;
	color: black;
	background-color: #ffffff;
	text-transform: uppercase;
}

.main-footer {
	background-color: #32425c;
}

.footer-address {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.main-menu-footer ul {
	list-style: none;
}

.navigation-footer li a {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.navigation-footer li a:hover {
	text-decoration: underline;
}

.navigation-footer li a:focus {
	color: #929caa;
}

.catalog-footer li a {
	font-size: 18px;
	line-height: 24px;
	color: #f1c77e;
}

.catalog-footer li a:hover {
	text-decoration: underline;
}

.catalog-footer li a:focus {
	color: #998a6e;
}

.copyright-footer {
	background-color: #293449;
}

.copyright-footer p {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.footer-feedback a,
.footer-developer a {
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.footer-feedback a:hover,
.footer-developer a:hover {
	text-decoration: underline;
}

.footer-feedback a:focus,
.footer-developer a:focus {
	color: #ee3643;
}